@use 'rootVariables';
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    background-color: rootVariables.$background;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    color: rootVariables.$color;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: rootVariables.$background-secondary;
    color: rootVariables.$color;

    margin-top: 0;
    padding: 0.5rem 1rem;
    border: 1px solid rootVariables.$outline;
    /* subtle outline */
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/*CHANGE CLRS*/

.btn:hover {
    transform: scale(0.97);
}

.btn:disabled {
    background: #3f4755;
    border-color: #3f4755;
    color: #9ca3af;
    cursor: not-allowed;
}

.btn-primary {
    background-color: rootVariables.$primary;
    color: rootVariables.$background;;
}

.input {
    width: 100%;
    padding: 12px 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rootVariables.$outline;
    background: rootVariables.$background-secondary;
    color: rootVariables.$color;
    outline: none;
    transition: 0.2s ease;
}

.input:hover {
    border-color: rootVariables.$outline;
}

.input:focus {
    border-color: rootVariables.$outline;
    box-shadow: 0 0 0 3px rootVariables.$primary;
    background: rootVariables.$background-secondary;
}