.flashcard {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid #F5E8D8;
  border-radius: 12px;
}

.flashcard-back {
  transform: rotateY(180deg);
  background: #F5E8D8;
}

.dark{
    color: #1d1d1d;
}

.flashcard.no-anim .flashcard-inner {
  transition: none !important;    /* prevents flipping animation */
}